.Auth {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 0 auto;
  min-width: 250px;
  min-height: 220px;
  text-align: center;
}
.Buttons {
  display: flex;
  justify-content: space-evenly;
}
input {
  height: 35px;
  border-radius: 30px;
  text-align: center;
  border: 3px solid #008bee;
}