.DangoPreview {
    width: 400px;
    height: 400px;
    margin-right: 1rem;
    margin-bottom: 1rem;
    border-radius: 50%;
    background-color: #575550;

    display: flex;
    justify-content: center;
    align-items: center;
}
.ingredients {
    width: 380px;
    height: 380px;
    border-radius: 100%;
    position: relative;
}