.BunsBuilder {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 75px;

}

.CaseButtons {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 5px;
}